@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --hue-color: 217;
    --hue-color-blue: 212;

    /* ========= Cores ============ */

    --first-color: hsl(212, 100%, 50%);
    --first-color-second: hsl(217, 20%, 51%);
    --first-color-lighter-blue: hsl(217, 35%, 45%);
    --first-color-alt: hsl(217, 21%, 21%);
    --color-search: hsl(0, 91%, 62%);
    --body-color: #f6f8ff;
    --logo-color: #222731;
    --bg-color-white: #fefefe;

    /* ================= Fontes ================== */
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */

    --body-font: 'Space Mono', monospace;

    --h1-font-size: 2.6rem;
    --h2-font-size: 2.2rem;
    --h3-font-size: 1.6rem;
    --h4-font-size: 1.3rem;
    --normal-font-size: 1.5rem;

    /* ============= font weight ================= */
    --font-regular: 400;
    --font-bold: 700;

    /* ============== margin bottom =============== */
    /* .25rem = 4px. .5rem = 8px, .75rem = 12px */

    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

body.darkMode {
    transition: 0.3s linear;
    --first-color: hsl(212, 100%, 50%);
    --first-color-second: hsl(0, 0%, 100%);
    --first-color-lighter-blue: hsl(0, 0%, 100%);
    --first-color-alt: hsl(0, 0%, 100%);
    --color-search: hsl(0, 91%, 62%);
    --body-color: #141d2f;
    --logo-color: #fff;
    --bg-color-white: hsl(222, 41%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--body-font);
    background-color: var(--body-color);
}

.container {
    max-width: 1248px;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.content {
    width: 95%;
    display: grid;
    max-width: 730px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.6rem;
    h1 {
        color: var(--logo-color);
        font-size: var(--h1-font-size);
    }
}

.icon-sun-and-moon {
    border: none;
    background: transparent;
    font-family: var(--body-font);
    font-weight: var(--font-bold);
    color: var(--first-color-second);
    display: flex;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
    transition: 0.3s linear;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-white);
    align-items: center;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    gap: 2.3rem;
    position: relative;
    label {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            max-width: 24.06px;
            margin-left: 3.2rem;
        }
    }
    .message-not-found {
        position: absolute;
        right: 140px;
        color: var(--color-search);
        font-weight: var(--font-bold);
        font-size: 1.5rem;
        display: none;
    }
    #userSearch {
        border: none;
        outline: none;
        font-size: 1.8rem;
        display: flex;
        font-family: var(--body-font);
        width: 80%;
        background-color: transparent;
    }
    button {
        border: none;
        font-family: var(--body-font);
        background-color: var(--first-color);
        color: #fff;
        padding: 1.2rem 2.4rem;
        margin: 0.95rem 1rem 0.95rem 0;
        border-radius: 10px;
        font-weight: var(--font-bold);
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.profile-container {
    display: grid;
    grid-template-columns: 212px 1fr;
    justify-items: center;
    margin-top: 2.4rem;
    padding: 4.8rem 4.8rem 4.8rem 0;
    background-color: var(--bg-color-white);
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    #userProfileImg {
        width: 100%;
        max-width: 117px;
        border-radius: 50%;
    }
    .info-profile {
        max-width: 518px;
        width: 100%;

        .profile-content-info {
            display: flex;
            justify-content: space-between;
            h2 {
                font-size: var(--h1-font-size);
                font-weight: var(--font-bold);
                line-height: 3.6rem;
                color: var(--first-color-alt);
            }

            #userProfile {
                font-size: 1.6rem;
                color: var(--first-color);
                line-height: 2.6rem;
            }

            .userDate-content {
                p {
                    color: var(--first-color-second);
                    font-size: 1.5rem;
                }
            }
        }
        .userContent__info__container {
            a {
                color: var(--first-color);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .profile-content-socials {
            display: flex;
            gap: 8.2rem;
            margin-top: 3.2rem;
            padding: 1.5rem 0 1.5rem 3.2rem;
            background-color: var(--body-color);
            border-radius: 10px;
            .repos-title,
            .followers-title,
            .following-title {
                color: var(--first-color-lighter-blue);
                font-size: 1.3rem;
                line-height: 1.9rem;
            }
            #userNumberRepos,
            #userNumberFollowers,
            #userNumberFollowing {
                font-size: 2.2rem;
                line-height: 3.2rem;
                font-weight: var(--font-bold);
                color: var(--first-color-lighter-blue);
            }
        }
        .profile-content-location {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            margin-top: 3.7rem;
            list-style: none;
            li {
                color: var(--first-color-lighter-blue);
                display: flex;
                align-items: center;
                gap: 1.6rem;
                font-size: 1.5rem;
                path {
                    fill: var(--first-color-lighter-blue);
                }
            }
            li.not-available {
                opacity: 0.5;
            }
        }
    }
}

.item-3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--first-color-lighter-blue);
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr;
}
